## Работа с множественными таблицами и типы джойнов

<img src='http://i.stack.imgur.com/VQ5XP.png'>

In [1]:
import pandas as pd
import os

## Найдём часто встречающиеся парные товары

#### Задачу решим с помощью cross-join

In [13]:
orders_data = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv')

In [14]:
df = orders_data.rename({'Товар': 'item'}, axis=1)[['id', 'item']]

In [15]:
df

           id                 item
0       17119                Лимон
1       17119      Лимон оранжевый
2       17119            Лук-порей
3       17119         Лук репчатый
4       17119        Малина свежая
...       ...                  ...
43509  119396                Укроп
43510  119396               Свекла
43511  119396              Физалис
43512  119396      Черешня сушеная
43513  119396  Баклажаны грунтовые

[43514 rows x 2 columns]

In [16]:
df_min = df.query('id == 17119')

In [26]:
df_min.merge(df_min, on='id', how='left').query('item_x < item_y')

       id           item_x           item_y
1   17119            Лимон  Лимон оранжевый
2   17119            Лимон        Лук-порей
3   17119            Лимон     Лук репчатый
4   17119            Лимон    Малина свежая
5   17119            Лимон  Морковь немытая
6   17119            Лимон  Черешня сушеная
9   17119  Лимон оранжевый        Лук-порей
10  17119  Лимон оранжевый     Лук репчатый
11  17119  Лимон оранжевый    Малина свежая
12  17119  Лимон оранжевый  Морковь немытая
13  17119  Лимон оранжевый  Черешня сушеная
18  17119        Лук-порей    Малина свежая
19  17119        Лук-порей  Морковь немытая
20  17119        Лук-порей  Черешня сушеная
23  17119     Лук репчатый        Лук-порей
25  17119     Лук репчатый    Малина свежая
26  17119     Лук репчатый  Морковь немытая
27  17119     Лук репчатый  Черешня сушеная
33  17119    Малина свежая  Морковь немытая
34  17119    Малина свежая  Черешня сушеная
41  17119  Морковь немытая  Черешня сушеная

In [ ]:
import numpy as np

In [27]:
filtered_df = df.merge(
    df.rename(
        {'item': 'item_left'}, 
        axis=1
    ), 
    how='left', 
    on='id'
).query(
    'item < item_left'
)

In [28]:
filtered_df

            id                 item        item_left
1        17119                Лимон  Лимон оранжевый
2        17119                Лимон        Лук-порей
3        17119                Лимон     Лук репчатый
4        17119                Лимон    Малина свежая
5        17119                Лимон  Морковь немытая
...        ...                  ...              ...
813728  119396  Баклажаны грунтовые  Галангал корень
813729  119396  Баклажаны грунтовые            Укроп
813730  119396  Баклажаны грунтовые           Свекла
813731  119396  Баклажаны грунтовые          Физалис
813732  119396  Баклажаны грунтовые  Черешня сушеная

[385110 rows x 3 columns]

In [29]:
filtered_df['items_pair'] = filtered_df['item'] + '__' + filtered_df['item_left']

In [32]:
filtered_df

,id,item,item_left,items_pair
1,17119,Лимон,Лимон оранжевый,Лимон__Лимон оранжевый
2,17119,Лимон,Лук-порей,Лимон__Лук-порей
3,17119,Лимон,Лук репчатый,Лимон__Лук репчатый
4,17119,Лимон,Малина свежая,Лимон__Малина свежая
5,17119,Лимон,Морковь немытая,Лимон__Морковь немытая
...,...,...,...,...
813728,119396,Баклажаны грунтовые,Галангал корень,Баклажаны грунтовые__Галангал корень
813729,119396,Баклажаны грунтовые,Укроп,Баклажаны грунтовые__Укроп
813730,119396,Баклажаны грунтовые,Свекла,Баклажаны грунтовые__Свекла
813731,119396,Баклажаны грунтовые,Физалис,Баклажаны грунтовые__Физалис
813732,119396,Баклажаны грунтовые,Черешня сушеная,Баклажаны грунтовые__Черешня сушеная

In [33]:
df.merge(
    df.rename(
        {'item': 'item_left'}, 
        axis=1
    ), 
    how='left', 
    on='id'
).query(
    'item < item_left'
).assign(
    items_pair = lambda x: x['item'] + '__' + x['item_left'],
    one = 1,
    exp = 'row'
)

,id,item,item_left,items_pair,one,exp
1,17119,Лимон,Лимон оранжевый,Лимон__Лимон оранжевый,1,row
2,17119,Лимон,Лук-порей,Лимон__Лук-порей,1,row
3,17119,Лимон,Лук репчатый,Лимон__Лук репчатый,1,row
4,17119,Лимон,Малина свежая,Лимон__Малина свежая,1,row
5,17119,Лимон,Морковь немытая,Лимон__Морковь немытая,1,row
...,...,...,...,...,...,...
813728,119396,Баклажаны грунтовые,Галангал корень,Баклажаны грунтовые__Галангал корень,1,row
813729,119396,Баклажаны грунтовые,Укроп,Баклажаны грунтовые__Укроп,1,row
813730,119396,Баклажаны грунтовые,Свекла,Баклажаны грунтовые__Свекла,1,row
813731,119396,Баклажаны грунтовые,Физалис,Баклажаны грунтовые__Физалис,1,row
813732,119396,Баклажаны грунтовые,Черешня сушеная,Баклажаны грунтовые__Черешня сушеная,1,row

In [38]:
df.merge(
    df.rename(
        {'item': 'item_left'}, 
        axis=1
    ), 
    how='left', 
    on='id'
).query(
    'item < item_left'
).assign(
    items_pair = lambda x: x['item'] + '__' + x['item_left']
).groupby(
    'items_pair',
    as_index=False
).id.count(
).rename(
    {'id': 'frequency'},
    axis=1
).sort_values(
    by='frequency',
    ascending=False
).assign(
    item_left = lambda x: x['items_pair'].apply(lambda element: element.split('__')[0]),
    item_right = lambda x: x['items_pair'].apply(lambda element: element.split('__')[1]),
)[['item_left', 'item_right', 'frequency']].head(5)

               item_left         item_right  frequency
16094  Огурцы Луховицкие              Укроп        431
17249           Петрушка              Укроп        408
1849               Арбуз  Огурцы Луховицкие        345
9602             Кабачки  Огурцы Луховицкие        326
11149              Кинза              Укроп        303

In [57]:
month = pd.DataFrame([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], columns=['month'])
days = pd.DataFrame([i for i in range(1, 32)], columns=['day'])
years = pd.DataFrame([2018, 2019, 2020], columns=['year'])

In [64]:
(
    month
        .assign(field = 1)
        .merge(
            years
                .assign(field = 1),
        on='field'
        ).merge(
        days.assign(field = 1),
        on='field'
        ).drop(['field'], axis=1).assign(date=lambda x: x['year'].astype(str) + '-' + x['month'].astype(str) + '-' + x['day'].astype(str))
)

      month  year  day        date
0         1  2018    1    2018-1-1
1         1  2018    2    2018-1-2
2         1  2018    3    2018-1-3
3         1  2018    4    2018-1-4
4         1  2018    5    2018-1-5
...     ...   ...  ...         ...
1111     12  2020   27  2020-12-27
1112     12  2020   28  2020-12-28
1113     12  2020   29  2020-12-29
1114     12  2020   30  2020-12-30
1115     12  2020   31  2020-12-31

[1116 rows x 4 columns]