**Как читать файлы из Excel**

In [41]:
import pandas as pd
%pip install openpyxl
data=pd.read_excel("seo_data.xlsx", sheet_name='traffic_data')

In [42]:
data.head()

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651

In [43]:
print(data['source'].unique())

['direct' 'organic']

In [44]:
data.dtypes

subcategory_id    object
source            object
visits            object
dtype: object

In [45]:
subcategory_dict=pd.read_excel('seo_data.xlsx', sheet_name='subcategory_ids')
subcategory_dict.head()

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643

In [46]:
category_dict=pd.read_excel('seo_data.xlsx', sheet_name='category_ids')
category_dict.head()

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья

**Такие неидеальные данные**

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 22.7+ KB

**Перевод строковых значений в числа**

In [48]:
transactions=pd.read_excel('ids.xlsx')
transactions.head()

             id category    amount
0  600748331392        C  17515.36
1  600748331404        B  10117.56
2  600748331412        B  18489.26
3  600748331430        B   6620.22
4  600748331447        C    7559.9

In [49]:
transactions.dtypes

id          object
category    object
amount      object
dtype: object

In [50]:
transactions['id']=pd.to_numeric(transactions['id'], errors='coerce')

In [51]:
transactions.dtypes

id          float64
category     object
amount       object
dtype: object

In [52]:
transactions['amount']=pd.to_numeric(transactions['amount'], errors='coerce')

In [53]:
transactions.dtypes

id          float64
category     object
amount      float64
dtype: object

In [54]:
print(transactions['amount'].sum())

596107.1

In [55]:
print(transactions.groupby('category')['amount'].sum())

category
A       133988.50
B       168617.89
C       173332.50
D        62630.82
E        57537.39
Null         0.00
Name: amount, dtype: float64

In [56]:
data.dtypes

subcategory_id    object
source            object
visits            object
dtype: object

In [57]:
data['visits']=pd.to_numeric(data['visits'], errors='coerce')

In [58]:
data.dtypes

subcategory_id     object
source             object
visits            float64
dtype: object

In [59]:
print(data.loc[964])

subcategory_id     total
source            direct
visits               NaN
Name: 964, dtype: object

In [60]:
print(f'Количество строк{data.shape}')

Количество строк(1930, 3)

In [67]:
print(data[data['subcategory_id']=='total'])

     subcategory_id   source  visits
964           total   direct     NaN
1929          total  organic     NaN

In [68]:
data['subcategory_id']=data['subcategory_id']!='total'

In [69]:
print(data[data['subcategory_id']=='total'])

Empty DataFrame
Columns: [subcategory_id, source, visits]
Index: []

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   bool
 1   source          1930 non-null   object
 2   visits          1928 non-null   float64
dtypes: bool(1), float64(1), object(1)
memory usage: 24.6+ KB

In [77]:
data['visits'].fillna(value=0, inplace=True)

In [78]:
data['visits'] = data['visits'].astype(int)

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   bool
 1   source          1930 non-null   object
 2   visits          1930 non-null   int32
dtypes: bool(1), int32(1), object(1)
memory usage: 17.0+ KB

In [80]:
data.head()

   subcategory_id  source  visits
0            True  direct  501165
1            True  direct  126342
2            True  direct   95626
3            True  direct   75680
4            True  direct   64435

In [82]:
print(data.groupby('source')['visits'].sum())

source
direct     2368980
organic    5687407
Name: visits, dtype: int32

**Методы Pandas для работы с датой и временем**