**Дата и время timestamp**

In [1]:
import pandas as pd

In [4]:
position = pd.read_csv('position.csv')
position.head()

             timestamp  level   page_id
0  2019-02-04T13:22:34      1  6ukoNykP
1  2019-02-06T15:30:54      1  Q62R1Ue7
2  2019-02-08T14:53:45      1  GmfSxgPs
3  2019-02-10T16:50:22      2  M56OK96C
4  2019-02-12T14:16:28      1  q2fqVqPc

In [6]:
position.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     object
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
dtypes: int64(1), object(2)
memory usage: 696.0+ bytes

In [9]:
position['timestamp']=pd.to_datetime(position['timestamp'], format='%Y-%m-%dT%H:%M:%S' )

In [12]:
position.head()

            timestamp  level   page_id
0 2019-02-04 13:22:34      1  6ukoNykP
1 2019-02-06 15:30:54      1  Q62R1Ue7
2 2019-02-08 14:53:45      1  GmfSxgPs
3 2019-02-10 16:50:22      2  M56OK96C
4 2019-02-12 14:16:28      1  q2fqVqPc

In [13]:
position['month']=pd.DatetimeIndex(position['timestamp']).month

In [14]:
position.head()

            timestamp  level   page_id  month
0 2019-02-04 13:22:34      1  6ukoNykP      2
1 2019-02-06 15:30:54      1  Q62R1Ue7      2
2 2019-02-08 14:53:45      1  GmfSxgPs      2
3 2019-02-10 16:50:22      2  M56OK96C      2
4 2019-02-12 14:16:28      1  q2fqVqPc      2

In [16]:
position.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     datetime64[ns]
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
 3   month      39 non-null     int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(1)
memory usage: 1008.0+ bytes

In [19]:
monthly_avg=position.groupby('month')['level'].count()

In [22]:
print(monthly_avg)

month
2    12
3    13
4    14
Name: level, dtype: int64

**Обработка ошибок: try-except**

In [23]:

position = [
    ['2data9-05-data', '6'],
    ['2data9-05-02', '5'],
    ['2data9-05-03', '5'],
    ['2data9-05-04', '4'],
    ['2data9-05-05', '5'],
    ['2data9-05-06', '5'],
    ['2data9-05-07', '4'],
    ['2data9-05-08', '4'],
    ['2data9-05-09', '3'],
    ['2data9-05-10', '3'],
]

In [25]:
count_lines=0
for i in position:
    count_lines+=1
print(count_lines)

10

In [29]:
total=0
for i in position:
    level = int(i[1])
    total+=level
print(total)

44

In [30]:
print(total/count_lines)

4.4

In [31]:

position_1 = [
    ['2019-05-01', '- 6'],
    ['2019-05-02', '+5'],
    ['2019-05-03', ' 5'],
    ['2019-05-data', '4'],
    ['2019-05-05', '5'],
    ['2019-05-06', '5'],
    ['2019-05-07', '4'],
    ['2019-05-08', 'Error 5'],
    ['2019-05-09', '3'],
    ['2019-05-10', '3'],
]

In [34]:
total_position=0
for row in position_1:
    try:
        count_lines += 1
        level = int(row[1])
        total_position += level
    except:
        print('Error!')
print(total_position)

Error!
Error!
34

**Метод merge()**

In [39]:
%pip install openpyxl

In [40]:
data=pd.read_excel('seo_data.xlsx', sheet_name='traffic_data', engine='openpyxl')
subcategory_dict =pd.read_excel('seo_data.xlsx', sheet_name='subcategory_ids', engine='openpyxl')

In [41]:
data.head()

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651

In [42]:
subcategory_dict.head()

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643

In [43]:
data_final =data.merge(subcategory_dict, on='subcategory_id', how='left' )

In [44]:
data_final.head()

,subcategory_id,source,visits,subcategory_name,category_id
0,cf2e61c7af,direct,501165.668858,Мобильные телефоны,09f279a643
1,0cd903d1cc,direct,126342.359505,Ноутбуки,3509869a61
2,ef35bc88a7,direct,95626.321402,Телевизоры,09f279a643
3,6ff9f4014c,direct,75680.653002,Планшеты,3509869a61
4,72bc238e4d,direct,64435.934651,Наушники и Bluetooth-гарнитуры,09f279a643

In [46]:
category_dict=pd.read_excel('seo_data.xlsx', sheet_name='category_ids')
category_dict.head()

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья

In [47]:
data_final.merge(category_dict, on='category_id', how='left')

,subcategory_id,source,visits,subcategory_name,category_id,category_name
0,cf2e61c7af,direct,501165.668858,Мобильные телефоны,09f279a643,Электроника
1,0cd903d1cc,direct,126342.359505,Ноутбуки,3509869a61,Компьютерная техника
2,ef35bc88a7,direct,95626.321402,Телевизоры,09f279a643,Электроника
3,6ff9f4014c,direct,75680.653002,Планшеты,3509869a61,Компьютерная техника
4,72bc238e4d,direct,64435.934651,Наушники и Bluetooth-гарнитуры,09f279a643,Электроника
...,...,...,...,...,...,...
1925,c51343bf77,organic,15.640773,Свитеры и кардиганы,6074ad29ac,"Одежда, обувь и аксессуары"
1926,d942687638,organic,13.87554,Термобелье,6074ad29ac,"Одежда, обувь и аксессуары"
1927,976642886f,organic,9.204211,"Наклейки, шильдики и значки",65922fa39c,Авто
1928,075994491e,organic,4.606261,Гигиена полости рта,7dbac4c1a3,Детские товары
1929,total,organic,"""5687882""",NaN,NaN,NaN

**Сводные таблицы**

In [51]:
data_final_2=pd.read_csv('data_final.csv')
data_final_2.head()

,subcategory_id,source,visits,subcategory_name,category_id,category_name
0,cf2e61c7af,direct,501165,Мобильные телефоны,09f279a643,Электроника
1,0cd903d1cc,direct,126342,Ноутбуки,3509869a61,Компьютерная техника
2,ef35bc88a7,direct,95626,Телевизоры,09f279a643,Электроника
3,6ff9f4014c,direct,75680,Планшеты,3509869a61,Компьютерная техника
4,72bc238e4d,direct,64435,Наушники и Bluetooth-гарнитуры,09f279a643,Электроника

In [55]:
data_pivot =data_final.pivot_table(index=['category_name', 'subcategory_name'], columns='source', values='visits', aggfunc='sum')

In [56]:
data_pivot.head()

source                                   direct  organic
category_name subcategory_name
Авто          Автоакустика                 5915    15433
              Автомагнитолы                7783    18690
              Автомобильные инверторы       145      150
              Автомобильные компрессоры     407      790
              Автомобильные телевизоры      975     2246

In [57]:
data_pivot['ratio']=data_pivot['organic']/data_pivot['direct']

In [58]:
data_pivot.head()

source                                   direct  organic     ratio
category_name subcategory_name
Авто          Автоакустика                 5915    15433  2.609129
              Автомагнитолы                7783    18690  2.401388
              Автомобильные инверторы       145      150  1.034483
              Автомобильные компрессоры     407      790  1.941032
              Автомобильные телевизоры      975     2246  2.303590

In [62]:
data_pivot.sort_values(by='ratio', ascending=False)

,source,direct,organic,ratio
category_name,subcategory_name,,,
Авто,Шины,39638,153859,3.881604
Бытовая техника,Стиральные машины,22064,64570,2.926487
Спорт и отдых,Велосипеды,16009,46087,2.878818
Детские товары,Коляски,18079,52005,2.876542
Строительство и ремонт,Сварочные аппараты,6175,17325,2.805668
...,...,...,...,...
Детские товары,Блокноты,79,21,0.265823
Строительство и ремонт,Проволока,76,15,0.197368
"Одежда, обувь и аксессуары",Термобелье,67,13,0.194030
Авто,"Наклейки, шильдики и значки",50,9,0.180000
Детские товары,Гигиена полости рта,27,4,0.148148

In [65]:
(data_pivot[data_pivot['direct']>1000].sort_values(by='ratio', ascending=False)).tail(10)

source                                                       direct  organic  \
category_name              subcategory_name
Бытовая техника            Оверлоки и распошивальные машины    1536     3215
Товары для дома            Компьютерные и письменные столы     1999     4177
                           Люстры                              2016     4209
Строительство и ремонт     Дисковые пилы                       2040     4255
                           Воздушные компрессоры               1690     3520
Товары для здоровья        Бандажи и ортезы                    1659     3453
Строительство и ремонт     Нивелиры и лазерные уровни          1651     3436
Электроника                Защитные пленки и стекла            1560     3246
Одежда, обувь и аксессуары Туфли                               1035     2096
                           Сапоги                              1008     2021

source                                                          ratio
category_name              subcategory_name
Бытовая техника            Оверлоки и распошивальные машины  2.093099
Товары для дома            Компьютерные и письменные столы   2.089545
                           Люстры                            2.087798
Строительство и ремонт     Дисковые пилы                     2.085784
                           Воздушные компрессоры             2.082840
Товары для здоровья        Бандажи и ортезы                  2.081374
Строительство и ремонт     Нивелиры и лазерные уровни        2.081163
Электроника                Защитные пленки и стекла          2.080769
Одежда, обувь и аксессуары Туфли                             2.025121
                           Сапоги                            2.004960