In [1]:
import pandas as pd

**Знакомство с данными**

In [2]:
support=pd.read_csv('support.csv')
support.head()

    user_id               Тип обращения  type_id      Время обращения
0  DNcd8dnS  Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs               Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C               Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1  Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK            Накрутка отзывов        2  2019-03-13 14:43:14

In [3]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          3000 non-null   object
 1   Тип обращения    3000 non-null   object
 2   type_id          3000 non-null   int64
 3   Время обращения  3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 58.7+ KB

In [9]:
support=support.rename(columns={'Тип обращения':'type_message'})

In [10]:
support.head()

    user_id                type_message  type_id      Время обращения
0  DNcd8dnS  Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs               Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C               Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1  Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK            Накрутка отзывов        2  2019-03-13 14:43:14

In [12]:
support=support.rename(columns={'Время обращения':'timestamp'})

In [13]:
support.head()

    user_id                type_message  type_id            timestamp
0  DNcd8dnS  Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs               Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C               Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1  Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK            Накрутка отзывов        2  2019-03-13 14:43:14

In [18]:
support['timestamp']=pd.to_datetime(support['timestamp'], format='%Y-%m-%d %H:%M:%S')

In [21]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       3000 non-null   object
 1   type_message  3000 non-null   object
 2   type_id       3000 non-null   int64
 3   timestamp     3000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 70.4+ KB

**Классификация по типу**

In [23]:
support_log=support[['user_id', 'type_id', 'timestamp']]

In [24]:
support_log.head()

    user_id  type_id           timestamp
0  DNcd8dnS        3 2019-03-28 13:58:24
1  0e9MvwGs        5 2019-03-08 17:11:59
2  boyDUG4C        5 2019-03-03 17:52:34
3  5jMA27s1        3 2019-03-16 15:18:21
4  wvtyctOK        2 2019-03-13 14:43:14

In [25]:
support_dict=support[['type_message', 'type_id']]

In [26]:
support_dict.head()

                 type_message  type_id
0  Жалоба на товар в магазине        3
1               Мошенничество        5
2               Мошенничество        5
3  Жалоба на товар в магазине        3
4            Накрутка отзывов        2

In [29]:
support_dict.drop_duplicates().reset_index(drop=True)

                   type_message  type_id
0    Жалоба на товар в магазине        3
1                 Мошенничество        5
2              Накрутка отзывов        2
3          Жалоба на видеообзор        8
4              Не работает сайт        1
5   Продажа запрещенных товаров        6
6  Продажа поддельной продукции        4
7                  Отзыв удалён        7

In [30]:
print(support_dict.sort_values('type_id'))

              type_message  type_id
2999      Не работает сайт        1
1965      Не работает сайт        1
513       Не работает сайт        1
1967      Не работает сайт        1
1017      Не работает сайт        1
...                    ...      ...
121   Жалоба на видеообзор        8
2776  Жалоба на видеообзор        8
1230  Жалоба на видеообзор        8
396   Жалоба на видеообзор        8
914   Жалоба на видеообзор        8

[3000 rows x 2 columns]

**Классификация по возрастным группам**

In [31]:
support_log = pd.read_csv('support_log.csv')
support_log.head()

   Unnamed: 0   user_id  type_id            timestamp
0           0  DNcd8dnS        3  2019-03-28 13:58:24
1           1  0e9MvwGs        5  2019-03-08 17:11:59
2           2  boyDUG4C        5  2019-03-03 17:52:34
3           3  5jMA27s1        3  2019-03-16 15:18:21
4           4  wvtyctOK        2  2019-03-13 14:43:14

In [34]:
support_log_grouped=support_log.groupby('type_id').count()
support_log_grouped.head()

         Unnamed: 0  user_id  timestamp
type_id
1               311      311        311
2               302      302        302
3               606      606        606
4               312      312        312
5               586      586        586

Напишите функцию alert_group(messages) , которая оценивает приоритет в зависимости от количества сообщений. Если параметр не более 300, она должна возвращать строку 'средний', если значение параметра от 301 до 500 включительно, тогда строку 'высокий'. Для более высоких значений должна возвращаться строка 'критичный'.
Проверьте, что ваша функция отвечает верно, когда ей передают числа 10, 450, 1000. Каждое значение выводите на новой строке.

In [38]:
def alert_group(messages):
    if messages<=300:
        return 'средний'
    elif 301<messages<=500:
        return 'высокий'
    else:
        return 'критичный'

In [39]:
alert_group(10)

'средний'

In [40]:
alert_group(450)

'высокий'

In [41]:
alert_group(1000)

'критичный'

In [42]:
support_log_grouped['alert_group']=support_log_grouped['user_id'].apply(alert_group)

In [43]:
support_log_grouped.head()

         Unnamed: 0  user_id  timestamp alert_group
type_id
1               311      311        311     высокий
2               302      302        302     высокий
3               606      606        606   критичный
4               312      312        312     высокий
5               586      586        586   критичный

In [46]:
support_log_grouped.groupby('alert_group').count()

             Unnamed: 0  user_id  timestamp
alert_group
высокий               4        4          4
критичный             2        2          2
средний               2        2          2

**Функция для одной строки**

In [47]:
support_log_grouped = pd.read_csv('support_log_grouped.csv')
support_log_grouped.head()

   type_id  user_id  timestamp alert_group  importance
0        1      311        311     высокий           1
1        2      302        302     высокий           0
2        3      606        606   критичный           0
3        4      312        312     высокий           1
4        5      586        586   критичный           1

In [50]:
def alert_group_importance(row):
    alert_group, importance=row
    if alert_group=='средний' and importance==1:
        return 'обратить внимание'
    elif alert_group=='высокий' and importance==1:
        return 'высокий риск'
    elif alert_group=='критичный' and importance==1:
        return 'блокер'
    else:
        return 'в порядке очереди'

In [54]:
alert_group_importance(('средний', 1))

'обратить внимание'

In [55]:
support_log_grouped['importance_status']=support_log_grouped[['alert_group', 'importance']].apply(alert_group_importance, axis=1)

In [56]:
support_log_grouped.head()

   type_id  user_id  timestamp alert_group  importance  importance_status
0        1      311        311     высокий           1       высокий риск
1        2      302        302     высокий           0  в порядке очереди
2        3      606        606   критичный           0  в порядке очереди
3        4      312        312     высокий           1       высокий риск
4        5      586        586   критичный           1             блокер

In [61]:
print(support_log_grouped['importance_status'].value_counts())

importance_status
высокий риск         3
в порядке очереди    3
блокер               1
обратить внимание    1
Name: count, dtype: int64