**Постановка задачи
Вы оцените эффективность источников трафика Яндекс.Маркета, определите самый выгодный канал привлечения новых пользователей и составите рекомендации для менеджмента. Этот большой путь начинается с маленького шага — работы с пропусками в данных.**

**Конверсия и повторные покупатели**

In [158]:
import pandas as pd

In [159]:
email_visits = 1000 # количество визитов из рассылок
context_visits = 2500 # количество визитов из контекстной рекламы
email_purchases = 50 # количество покупок из рассылок
context_purchases = 100 # количество покупок из контекстной рекламы

In [160]:
email_conversion =email_purchases/email_visits
context_conversion = context_purchases/context_visits
print(f'Конверсия рассылок: {email_conversion}%')
print(f'Конверсия контекстной рекламы: {context_conversion}%')

Конверсия рассылок: 0.05%
Конверсия контекстной рекламы: 0.04%

In [161]:
if email_conversion>context_conversion:
    print("Вывод: рассылки эффективнее")
elif email_conversion<context_conversion :
    print("Вывод: контекстная реклама эффективнее")
else:
    print("Конверсии равны, пора смотреть другие метрики")

Вывод: рассылки эффективнее

In [162]:
first_purchase = 885 # количество пользователей, совершивших 1 покупку
repeated_purchase = 136 # количество пользователей, совершивших 2 и более покупок

In [163]:
total=first_purchase+repeated_purchase
print(f'Общее количество покупателей: {total}.')

Общее количество покупателей: 1021.

In [164]:
repeated_purchase_part=(repeated_purchase/total)*100
print(f'Доля повторных покупок равна {int(repeated_purchase_part)}%')

Доля повторных покупок равна 13%

In [165]:
purchases=pd.read_csv("returned.csv")
purchases.head()

    source  first  repeated
0  context   2933        96
1    email    885       136
2      smm   1653       139

In [166]:
purchases['total']=purchases['first']+purchases['repeated']

In [167]:
purchases

    source  first  repeated  total
0  context   2933        96   3029
1    email    885       136   1021
2      smm   1653       139   1792

In [168]:
purchases['repeated_share'] = (purchases['repeated']/purchases['total'])*100

In [169]:
purchases

    source  first  repeated  total  repeated_share
0  context   2933        96   3029        3.169363
1    email    885       136   1021       13.320274
2      smm   1653       139   1792        7.756696

In [170]:
print(purchases['repeated_share'].sort_values( ascending=False))

1    13.320274
2     7.756696
0     3.169363
Name: repeated_share, dtype: float64

**User ID и куки**

In [171]:
logs=pd.read_csv("logs.csv")
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [172]:
logs.shape

(200000, 4)

In [173]:
print(f'Уникальных email: {len(logs['email'].unique())}')
print(f'Уникальных User ID:: {len(logs['user_id'].unique())}')

Уникальных email: 6063
Уникальных User ID:: 86571

In [174]:
print(logs['source'].unique())

['other' 'email' 'context' nan 'undef']

**Вы обнаружили NaN и None**

In [175]:
hogwarts_points=pd.read_csv("hogwarts_points.csv")
hogwarts_points

  faculty_name      student_name  points
0   Гриффиндор      Гарри Поттер      15
1     Слизерин      Драко Малфой      28
2    Когтевран    Полумна Лавгуд      10
3          NaN         Рон Уизли       5
4    Пуффендуй    Седрик Диггори      17
5   Гриффиндор  Невилл Долгопупс      12

In [176]:
hogwarts_points.isna()

   faculty_name  student_name  points
0         False         False   False
1         False         False   False
2         False         False   False
3          True         False   False
4         False         False   False
5         False         False   False

In [177]:
hogwarts_points['faculty_name']=hogwarts_points['faculty_name'].fillna(value='Гриффиндор')

In [178]:
hogwarts_points

  faculty_name      student_name  points
0   Гриффиндор      Гарри Поттер      15
1     Слизерин      Драко Малфой      28
2    Когтевран    Полумна Лавгуд      10
3   Гриффиндор         Рон Уизли       5
4    Пуффендуй    Седрик Диггори      17
5   Гриффиндор  Невилл Долгопупс      12

In [179]:
faculty_points=hogwarts_points.groupby('faculty_name')['points'].sum()

In [180]:
print(faculty_points)

faculty_name
Гриффиндор    32
Когтевран     10
Пуффендуй     17
Слизерин      28
Name: points, dtype: int64

In [181]:
winner=faculty_points.sort_values(ascending=False)
print(winner.index[0])

Гриффиндор

Найдите количество визитов из каждого источника трафика. Для этого сгруппируйте данные из столбца с идентификаторами пользователей по столбцу с источниками. Результат сохраните в переменной visits и выведите на экран.

In [182]:
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [183]:
visits=logs.groupby('source')['user_id'].count()
visits

source
context     52032
email       12279
other      133834
undef         181
Name: user_id, dtype: int64

In [184]:
purchase=logs.groupby('source')['purchase'].sum()
purchase

source
context    3029
email       913
other      8041
undef        12
Name: purchase, dtype: int64

In [185]:
conversion=(purchase/visits)*100
print(conversion)

source
context    5.821418
email      7.435459
other      6.008189
undef      6.629834
dtype: float64

In [186]:
conversion.sort_values(ascending=False)

source
email      7.435459
undef      6.629834
other      6.008189
context    5.821418
dtype: float64

**Работа с пропусками в категориальных переменных**

In [187]:
logs['email']=logs['email'].fillna(value='')
logs.head()

      user_id   source       email  purchase
0  7141786820    other                     0
1  5644686960    email  c129aa540a         0
2  1914055396  context                     0
3  4099355752    other                     0
4  6032477554  context                     1

In [188]:
filtered_logs = logs.query('source == "None" and email == ""')

print(filtered_logs)

Empty DataFrame
Columns: [user_id, source, email, purchase]
Index: []

In [189]:
res=logs[(logs['source']=='None') & logs['email']=='']

In [190]:
print(res)

Empty DataFrame
Columns: [user_id, source, email, purchase]
Index: []

In [191]:
logs.loc[logs['source']=='None', 'source']='email'

In [192]:
logs

           user_id   source       email  purchase
0       7141786820    other                     0
1       5644686960    email  c129aa540a         0
2       1914055396  context                     0
3       4099355752    other                     0
4       6032477554  context                     1
...            ...      ...         ...       ...
199995  8714621942    other                     0
199996  6064948744  context                     1
199997  9210683879  context                     0
199998  1629959686    other                     1
199999  2089329795    other                     0

[200000 rows x 4 columns]

In [193]:
print(logs['source'].value_counts())

source
other      133834
context     52032
email       12279
undef         181
Name: count, dtype: int64

In [195]:
vis=logs.groupby('source')['user_id'].count()
pur=logs.groupby('source')['purchase'].sum()

In [196]:
print(vis)

source
context     52032
email       12279
other      133834
undef         181
Name: user_id, dtype: int64

In [197]:
print(pur)

source
context    3029
email       913
other      8041
undef        12
Name: purchase, dtype: int64

In [202]:
logs_grouped =logs.groupby('source').agg({'purchase':['count', 'sum']})

In [204]:
print(logs_grouped )

        purchase
           count   sum
source
context    52032  3029
email      12279   913
other     133834  8041
undef        181    12

In [208]:
logs_grouped['conversion']=(logs_grouped['purchase']['sum']/logs_grouped['purchase']['count'])*100

In [209]:
print(logs_grouped )

        purchase       conversion
           count   sum
source
context    52032  3029   5.821418
email      12279   913   7.435459
other     133834  8041   6.008189
undef        181    12   6.629834

**Работа с пропусками в количественных переменных**

In [211]:
metrica=pd.read_csv('metrica_data.csv')
metrica.head()

      user_id device_type   age    time
0  7141786820     desktop  33.0  2127.0
1  5644686960      mobile  30.0    35.0
2  1914055396     desktop  25.0     NaN
3  4099355752     desktop  25.0  2123.0
4  6032477554     desktop  27.0    59.0

In [212]:
age_avg=metrica['age'].mean()
print(age_avg)

32.48966336969903

In [213]:
metrica['age']=metrica['age'].fillna(age_avg)

In [214]:
metrica.head(10)

      user_id device_type        age    time
0  7141786820     desktop  33.000000  2127.0
1  5644686960      mobile  30.000000    35.0
2  1914055396     desktop  25.000000     NaN
3  4099355752     desktop  25.000000  2123.0
4  6032477554     desktop  27.000000    59.0
5  5872473344      mobile  27.000000     NaN
6  7977025176      mobile  32.489663     NaN
7  3512872755     desktop  40.000000    65.0
8  1827368713     desktop  37.000000     NaN
9  8688870165     desktop  36.000000  2124.0

In [216]:
time_avg=metrica['time'].mean()
print(time_avg)

1430.1294506106535

In [217]:
desktop_data =metrica[metrica['device_type']=='desktop']

In [219]:
desktop_data.head()

      user_id device_type   age    time
0  7141786820     desktop  33.0  2127.0
2  1914055396     desktop  25.0     NaN
3  4099355752     desktop  25.0  2123.0
4  6032477554     desktop  27.0    59.0
7  3512872755     desktop  40.0    65.0

In [221]:
desktop_data_time_avg=desktop_data['time'].mean()
print(desktop_data_time_avg)

1741.8747158537378

In [222]:
mobile_data=metrica[metrica['device_type']=='mobile']

In [223]:
mobile_data.head()

       user_id device_type        age  time
1   5644686960      mobile  30.000000  35.0
5   5872473344      mobile  27.000000   NaN
6   7977025176      mobile  32.489663   NaN
10  7172802697      mobile  30.000000   NaN
14  9312844109      mobile  32.489663  40.0

In [224]:
mobile_data_time_avg=mobile_data['time'].mean()

In [225]:
print(mobile_data_time_avg)

41.15691239238949